* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: #efefef;
    height: 5000px;
}
:root {
    --primary-color: #152427;
    --primary-bg-color: #143c3c;
}
/* Common */

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 57px;
    outline: none;
    min-width: 17.3rem;
    height: var(--height);
    color: #fff;
    text-align: center;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: var(--height); /* 155.556% */
    border-radius: 999px;
    border: 1.5px solid #143c3c;
    background: var(--primary-bg-color);
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.section__heading {
    position: relative;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.6rem; /* 162.5% */
    margin-left: 50px;
}

.section__heading::before {
    content: "";
    display: block;
    margin-right: -40px;
    position: absolute;
    left: -50px;
    top: 40%;
    width: 2.5rem;
    height: 0.1rem;
    background: var(--primary-color);
}

.section__title {
    position: relative;
    color: var(--primary-color);
    margin-top: 12px;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5.2rem; /* 123.81% */
}

.section__title::after {
    content: "";
    display: inline-block;
    width: 6.6rem;
    height: 0.2rem;
    background: var(--primary-color);
    margin: 0 0 8px 12px;
}

/* HEADER */
.header {
    padding-top: 12px;
    position: relative;
}
.header.fixed {
    /* position: sticky;
    top: 0; */
}
.header__body {
    display: flex;
    align-items: center;
    text-align: center;
}

.nav {
    margin-left: auto;
}
.nav__List {
    display: flex;
    column-gap: 38px;
    align-items: center;
}

.nav__link {
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem; /* 155.556% */
}
.nav__link:hover,
.nav__link.active {
    color: var(--primary-color);
    /* Paragraph/h2 18px medium */
    font-family: "Public Sans";
    font-size: 1.8rem;
    line-height: 2.8rem; /* 155.556% */
}

.nav__link.active::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 1.6rem;
    height: 0.2rem;
    background: var(--primary-color);
    bottom: 0;
    left: 49%;
}

.header__btn {
    margin-left: 88px;
}

.header__br {
    margin-top: 12px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

/* HERO */
.hero {
    margin-top: 60px;
    padding-bottom: 88px;
}

.hero__body {
    display: flex;
}
.hero__content {
    margin-top: 10.3rem;
    width: 43%;
    flex-shrink: 0;
}
.hero__heading {
    width: 36.8rem;
    color: var(--primary-color);
    font-family: "Public Sans";
    font-size: 5rem;
    font-weight: 800;
    line-height: 6rem;
}
.hero__desc {
    width: 34.1rem;
    margin-top: 20px;
    color: #575d5e;
    /* Paragraph/h2 18px medium */
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem; /* 155.556% */
}
.hero__cta {
    margin-top: 22px;
    display: flex;
    column-gap: 36px;
}
.header-hero__play-button {
    display: flex;
    align-items: center;
    column-gap: 10px;
    height: 60px;
    padding: 0;
    border: none;
    color: #152427;
    background-color: transparent;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.8rem;
    cursor: pointer;
}
.header-hero__half-circle-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 4px solid;
    border-radius: 50%;
    border-color: var(--primary-color);
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
    transition-duration: 0.3s;
}
.header-hero__play-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #fff;
    background-color: #83a17d;
    line-height: 45px;
    transform: rotate(45deg);
}
.header-hero__play-button:hover {
    color: #83a17d;
}
.header-hero__play-button:hover .header-hero__half-circle-border {
    border-color: #83a17d;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(135deg);
}
.header-hero__play-button:hover .header-hero__play-btn {
    background-color: var(--primary-color);
    transform: rotate(-135deg);
}
.hero__media {
    position: relative;
}
.hero__img {
    width: 20.2rem;
    height: 46.6rem;
    object-fit: cover;
    border-radius: 11rem;
}

.hero__group__imgs {
    display: flex;
    column-gap: 20px;
}

.hero__img:nth-child(2) {
    margin-top: 77px;
}
.hero__img__bg {
    z-index: -1;
    position: absolute;
    top: 150px;
    left: 150px;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background-color: #4dbb9a;
    filter: blur(137px);
}
.hero__decor:first-child {
    position: absolute;
    top: 0;
    left: -273px;
}

.hero__decor:last-child {
    rotate: 180deg;
    position: absolute;
    bottom: -48.6px;
    left: 32px;
}

.brand__groups {
    display: flex;
    padding: 75px 120px;
    column-gap: 64px;
    border-radius: 10.05rem;
    background: #e2eddf;
    align-items: center;
    justify-content: center;
}
.brand__text {
    color: #143c3c;
    font-family: Poppins;
    font-size: 3.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.brand__group {
    display: flex;
    column-gap: 11px;
}

/* SERVICE */
.service {
    margin-top: 106px;
}

.service__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service_title {
    width: 52rem;
}

.service__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.service__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;
    outline: none;
    border: transparent;
    background: #e2eddf;
    color: var(--primary-bg-color);
    transition: 0.25s;
}

.service__btn:hover {
    color: #fff;
    background: #143c3c;
    cursor: pointer;
}

.service__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service__item {
    overflow: hidden;
    transition: 0.25s;
    border-radius: 2rem 2rem 0rem 0rem;
}

.service__item:hover {
    border-radius: 2rem;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    overflow: hidden;
}

.service__thumb {
    height: 31.8rem;
    overflow: hidden;
}

.service__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.service__item:hover .service__img {
    transform: scale(1.1);
}

.service__list--content {
    padding: 24px 18px;
}

.service__list--title {
    color: var(--primary-color);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem; /* 100% */
}

.service__list--desc {
    width: 26.8rem;
    margin-top: 18px;
    color: #7d8188;
    /* Paragraph/h6 14px medium */
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem; /* 171.429% */
}

/* ABOUT  */
.about {
    margin-top: 155px;
}

.about__body {
    display: flex;
    justify-content: space-between;
}

.about__media {
    position: relative;
}

.about__group__imgs {
    display: flex;
    column-gap: 22px;
}
.about__img {
    width: 28.4rem;
    height: 48rem;
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    border-radius: 21rem;
    object-fit: cover;
}
.about__img:first-child {
    margin-top: 77px;
}
.about__decor {
    position: absolute;
    top: -32px;
    left: 14px;
    bottom: 13px;
    right: 51.9px;
}

.about-media-block {
    position: absolute;
    bottom: 0;
    right: -1px;
    width: 14.3rem;
    height: 14.4rem;
    border-radius: 0.8rem;
    background: #fff;
    box-shadow: 0px 7px 54px 0px rgba(154, 154, 154, 0.25);
    padding: 20px 23px;
}

.about-media-block__title {
    color: --primary-color;
    font-family: "Public Sans";
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.4rem; /* 100% */
}
.about-media-block__total {
    margin-top: 6px;
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.4rem; /* 140% */
}

.about-media-block__percent {
    margin-top: 10px;
    color: var(--primary-color);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4rem; /* 140% */
}

.about-progress-bar__valuemax {
    margin-top: 3px;
    width: 9.6rem;
    height: 0.2rem;
    border-radius: 1rem;
    background: #eaeaea;
}
.about-progress-bar__valuenow {
    width: 4rem;
    height: 0.2rem;
    border-radius: 1rem;
    background: #83a17d;
}

.about-media-block__status {
    margin-top: 3px;
    text-align: right;
    color: var(--primary-color);
    font-family: "Public Sans";
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.4rem; /* 140% */
}

.about-media-block__circle-decor {
    margin-top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.1rem;
    height: 1.1rem;
    border-radius: 50%;
    background: #eaeaea;
}

.about-media-block__circle {
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 50%;
    background: #143c3c;
}

.about-team {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-team__name {
    color: var(--primary-color);
    font-family: "Public Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem; /* 140% */
}

.about-team__avatar-list {
    display: flex;
}

.about-team__avatar-item {
    margin-right: -4px;
}
.about-team__avatar {
    width: 1.6rem;
    height: 1.6rem;
    object-fit: cover;
    border-radius: 50%;
}

.about__content {
    width: 43%;
}

.about__title {
    color: var(--primary-color);
    margin-top: 20px;
    width: 48.3rem;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 5.2rem; /* 123.81% */
}

.about__desc {
    margin-top: 12px;
    color: #7d8188;
    /* Paragraph/h4 16px medium */
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.6rem; /* 162.5% */
}

.about__data-item {
    margin-top: 12px;
    display: flex;
    align-items: center;
    column-gap: 24px;
    border-bottom: 1px solid #83a17d;
    padding: 20px 0;
}

.about__data-heading {
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 5.2rem;
}

.about__data-title {
    width: 36.4rem;
    color: #7d8188;
    /* Paragraph/h6 14px medium */
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2.4rem; /* 171.429% */
}

/* PROCESS */
.process {
    margin-top: 110px;
}
.process__title {
    width: 47.7rem;
}

.process__list {
    margin-top: 80px;
}

.process__item {
    display: flex;
    align-items: center;
    padding: 25px 25px;
    border-bottom: 1px solid #83a17d;
    transition: 0.3s;
}

.process__item:hover {
    background: #e2eddf;
    border-radius: 3.3rem;
    border-color: transparent;
}
.process__item-1 {
    padding: 50px 30px;
    position: relative;
    display: flex;
}
.process__item-img {
    position: absolute;
    margin-left: auto;
    width: 45rem;
    height: 44.4rem;
    object-fit: cover;
    bottom: 0;
    left: 50%;
}
.process__item-stt {
    color: #143c3c;
    /* Heading/H1 72px bold */
    font-size: 7.2rem;
    font-weight: 600;
    line-height: 5.2rem; /* 72.222% */
}
.process__item-link {
    display: inline-block;
    margin-top: 22px;
    color: #575d5e;
    font-size: 1.8rem;
    line-height: 1.8rem; /* 100% */
}

.process__item-heading {
    margin-left: 50px;
}
.process__item-title {
    color: --primary-color;
    /* Heading/h1 22px semibold */
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 2.2rem; /* 100% */
}

.process__item-desc {
    margin-left: auto;
    width: 57.2rem;
    color: #7d8188;
    /* Paragraph/h2 18px medium */
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem; /* 155.556% */
}
.project {
    margin-top: 150px;
    background: #143c3c;
}
.project__inner {
    position: relative;
    padding: 90px 0 63px;
    overflow: hidden;
}
.project__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.project__title {
    width: 45.7rem;
    color: #e7f9f9;
    /* Heading/H3 42px bold */
    font-family: Poppins;
    font-size: 4.2rem;
    font-weight: 600;
    line-height: 5.2rem; /* 123.81% */
}

.project__title::after {
    background: #83a17d;
}

.project__desc {
    width: 59rem;
    color: #6a8383;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem; /* 155.556% */
}
.project__content {
    width: 590px;
}

.project__link {
    display: inline-block;
    margin-top: 13px;
    color: #fff;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem; /* 155.556% */
}

.project__link:hover {
    text-decoration: underline;
}

.project__link-icon {
    margin-left: 10px;
    color: #80a07b;
    cursor: pointer;
}

.project__media {
    position: relative;
    margin-top: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.project__img {
    width: 114rem;
    height: 54.4rem;
    object-fit: cover;
    border-radius: 2.2rem;
}

.project__btn {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50%;
    width: 11.8rem;
    height: 11.8rem;
    outline: none;
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.7);
}

.project__btn:hover {
    cursor: pointer;
    background: #80a07b;
}
.project__decor {
    position: absolute;
    top: 196px;
    right: -200.7px;
    rotate: 373deg;
}
