* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    height: 5000px;
}
:root {
    --primary-color: #152427;
    --primary-bg-color: #143c3c;
}
/* Common */

.container {
    width: 1140px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    --height: 57px;
    outline: none;
    min-width: 17.3rem;
    height: var(--height);
    color: #fff;
    text-align: center;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: var(--height); /* 155.556% */
    border-radius: 999px;
    border: 1.5px solid #143c3c;
    background: var(--primary-bg-color);
}

.btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.section__heading {
    position: relative;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.6rem; /* 162.5% */
    margin-left: 50px;
}

.section__heading::before {
    content: "";
    display: block;
    margin-right: -40px;
    position: absolute;
    left: -50px;
    top: 40%;
    width: 2.5rem;
    height: 0.1rem;
    background: var(--primary-color);
}

.section__title {
    position: relative;
    color: var(--primary-color);
    margin-top: 12px;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 5.2rem; /* 123.81% */
}

.section__title::after {
    content: "";
    display: inline-block;
    width: 6.6rem;
    height: 0.2rem;
    background: var(--primary-color);
    margin: 0 0 8px 12px;
}

/* HEADER */
.header {
    padding-top: 12px;
    position: relative;
}
.header.fixed {
    /* position: sticky;
    top: 0; */
}
.header__body {
    display: flex;
    align-items: center;
    text-align: center;
}

.nav {
    margin-left: auto;
}
.nav__List {
    display: flex;
    column-gap: 38px;
    align-items: center;
}

.nav__link {
    color: #575d5e;
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem; /* 155.556% */
}
.nav__link:hover,
.nav__link.active {
    color: var(--primary-color);
    /* Paragraph/h2 18px medium */
    font-family: "Public Sans";
    font-size: 1.8rem;
    line-height: 2.8rem; /* 155.556% */
}

.nav__link.active::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 1.6rem;
    height: 0.2rem;
    background: var(--primary-color);
    bottom: 0;
    left: 49%;
}

.header__btn {
    margin-left: 88px;
}

.header__br {
    margin-top: 12px;
    height: 1px;
    background: linear-gradient(
        90deg,
        #fff 0%,
        #dddcdc 51.09%,
        rgba(212, 212, 212, 0) 99.68%
    );
}

/* HERO */
.hero {
    margin-top: 60px;
    padding-bottom: 88px;
}

.hero__body {
    display: flex;
}
.hero__content {
    margin-top: 10.3rem;
    width: 43%;
    flex-shrink: 0;
}
.hero__heading {
    width: 36.8rem;
    color: var(--primary-color);
    font-family: "Public Sans";
    font-size: 5rem;
    font-weight: 800;
    line-height: 6rem;
}
.hero__desc {
    width: 34.1rem;
    margin-top: 20px;
    color: #575d5e;
    /* Paragraph/h2 18px medium */
    font-family: "Public Sans";
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.8rem; /* 155.556% */
}
.hero__cta {
    margin-top: 22px;
    display: flex;
    column-gap: 36px;
}
.header-hero__play-button {
    display: flex;
    align-items: center;
    column-gap: 10px;
    height: 60px;
    padding: 0;
    border: none;
    color: #152427;
    background-color: transparent;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.8rem;
    cursor: pointer;
}
.header-hero__half-circle-border {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 4px solid;
    border-radius: 50%;
    border-color: var(--primary-color);
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(-45deg);
    transition-duration: 0.3s;
}
.header-hero__play-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #fff;
    background-color: #83a17d;
    line-height: 45px;
    transform: rotate(45deg);
}
.header-hero__play-button:hover {
    color: #83a17d;
}
.header-hero__play-button:hover .header-hero__half-circle-border {
    border-color: #83a17d;
    border-bottom-color: transparent;
    border-right-color: transparent;
    transform: rotate(135deg);
}
.header-hero__play-button:hover .header-hero__play-btn {
    background-color: var(--primary-color);
    transform: rotate(-135deg);
}
.hero__media {
    position: relative;
}
.hero__img {
    width: 20.2rem;
    height: 46.6rem;
    object-fit: cover;
    border-radius: 11rem;
}

.hero__group__imgs {
    display: flex;
    column-gap: 20px;
}

.hero__img:nth-child(2) {
    margin-top: 77px;
}
.hero__img__bg {
    z-index: -1;
    position: absolute;
    top: 150px;
    left: 150px;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background-color: #4dbb9a;
    filter: blur(137px);
}
.hero__decor:first-child {
    position: absolute;
    top: 0;
    left: -273px;
}

.hero__decor:last-child {
    rotate: 180deg;
    position: absolute;
    bottom: -48.6px;
    left: 32px;
}

.brand__groups {
    display: flex;
    padding: 75px 120px;
    column-gap: 64px;
    border-radius: 10.05rem;
    background: #e2eddf;
    align-items: center;
    justify-content: center;
}
.brand__text {
    color: #143c3c;
    font-family: Poppins;
    font-size: 3.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.brand__group {
    display: flex;
    column-gap: 11px;
}

/* SERVICE */
.service {
    margin-top: 106px;
}

.service__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service_title {
    width: 52rem;
}

.service__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
}

.service__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.4rem;
    height: 5.4rem;
    border-radius: 50%;
    outline: none;
    border: transparent;
    background: #e2eddf;
    color: var(--primary-bg-color);
    transition: 0.25s;
}

.service__btn:hover {
    color: #fff;
    background: #143c3c;
    cursor: pointer;
}

.service__list {
    margin-top: 76px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
}

.service__item {
    overflow: hidden;
    transition: 0.25s;
    border-radius: 2rem 2rem 0rem 0rem;
}

.service__item:hover {
    border-radius: 2rem;
    background: #fff;
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
    overflow: hidden;
}

.service__thumb {
    height: 31.8rem;
    overflow: hidden;
}

.service__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.25s;
}

.service__item:hover .service__img {
    transform: scale(1.1);
}

.service__list--content {
    padding: 24px 18px;
}

.service__list--title {
    color: var(--primary-color);
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 2.2rem; /* 100% */
}

.service__list--desc {
    width: 26.8rem;
    margin-top: 18px;
    color: #7d8188;
    /* Paragraph/h6 14px medium */
    font-family: Poppins;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.4rem; /* 171.429% */
}
